@import 'wallkit/account-form';
@import 'wallkit/header-sign-in';
@import 'wallkit/mobile-account-manager';

.error-text {
    display: none;

    background-color:$red;
    padding:5px;
    font-size:12px;
    text-align: center;
    color:#fff;
    margin-bottom:15px;

    &.success {
        background-color:$green;
    }

    &.show, &.visible {
        display: block !important;
        @include opacity(1);
        @include transition(opacity 0.3s);
    }

    &.hide {
        display: block !important;
        @include opacity(0);
    }

    &.update {
        animation: blink 1s infinite;
    }
}

@keyframes blink {
	0% { opacity: 0 }
	50% { opacity: 1 }
}