@import 'wallkit/account-form';
@import 'wallkit/header-sign-in';
@import 'wallkit/mobile-account-manager';

.error-text {
    display: none;
    
    background-color:$red;
    padding:5px;
    font-size:12px;
    text-align: center;
    color:#fff;
    margin-bottom:15px;
    
    &.success {
        background-color:$green;
    }
    
    &.show {
        display: block;
    }
    
    &.visible {
        display: block;
    }
}