@import 'wallkit/account-form';
@import 'wallkit/header-sign-in';
@import 'wallkit/mobile-account-manager';

.error-text {
    display: none;

    background-color:$red;
    padding:5px;
    font-size:12px;
    text-align: center;
    color:#fff;
    margin-bottom:15px;

    &.success {
        background-color:$green;
    }

    &.show, &.visible {
        display: block;
        @include opacity(1);
        @include transition(opacity 0.3s);
    }

    &.hide {
        display: block;
        @include opacity(0);
    }
}