#header-sign-in-with-popover {
    vertical-align: middle;
    display: inline-block;
    
    position: relative;

    margin:0 0 0 20px;
    
    .overlay {
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height:100%;
        background-color:rgba($white,0);
        
        @include transition(0.3s);
        
        pointer-events: none;
    }
    
    .popover {
        position: absolute;
        width: 250px;
        right: -30px;
        margin-top: 15px;
        padding: 20px 15px 15px;
        background-color: #58585a;
        
        visibility: hidden;
        
        @include opacity(0);
        @include transition(0.3s);

        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);

        &:after {
        	bottom: 100%;
            right: 60px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: #58585a;
            border-width: 10px;
        }
        
        &.green-arrow:after {
            border-bottom-color: $deepGreen;
        }
    }
    
    .shopping-cart.isOpen, .sign-in.isOpen {
        background:none;
        
        .popover {
            @include opacity(1);
            visibility: visible;
        }
        
        & + .overlay {
            background-color:rgba($white,0.4);
            
            pointer-events: auto;
    
            -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
        }
    }
    
    .shopping-cart {
        display: inline-block;
        padding: 0 15px;
        
        position: relative;
        z-index: 10;
        vertical-align: middle;
        
        .cart-btn {
            font-size:22px;
            font-weight: 200;
            color:rgba(0, 0, 0, 0.65);
            position: relative;
                             
            &:hover {
                color:#252525;
                text-decoration: none;
            }
            
            .badge {
                background-color:#595417;
                border:1px solid $yellow;
                @include border-radius(50%);
                position: absolute;
                top: -2px;
                right: -5px;
                width: 15px;
                height: 15px;
                padding: 0;
                font-size: 8px;
                padding-top:2px;
                display: none;
            }
        }
        
        .popover {
            width:300px;
            margin-top:24px;
            right:-42px;
            
            background-color:$white;
            
            padding:0;
            
            .items {
                padding:15px;
                max-height: 50vh;
                overflow-y:auto;
                border:3px solid #58585a;
                
                .no-items {
                    display: none;
                }
                
                .cart-item {
                    
                    margin-top:10px;
                    padding-top:10px;
                    border-top:1px solid $lightGray;
                    
                    &:first-child {
                        margin-top:0;
                        padding-top:0;
                        border-top:none;
                    }
                    
                    .photo {
                        width:100px;
                        height:130px;
                        overflow: hidden;
                        
                        float:left;
                        margin-right:15px;
                        
                        img {
                            height:100%;
                            max-width: none;
                        }
                    }
                    
                    .item-details    {
                        width:calc(100% - 115px);
                        float:right;
                    }
                    
                    .item-name h3 {
                        font-size:12px;
                        line-height: normal;
                        margin:0;
                    }
                    
                    .item-price {
                        margin:5px 0;
                        font-size:12px;
                    }
                }
            }
            
            .chin {
                background-color:#58585a;
                color:#fff;
                
                .total {
                    padding:8px 15px;
                }
                
                .buttons {
                    font-size:0;
                    
                    .btn {
                        font-size: 12px;
                        width:50%;
                    }
                }
            }
        }
    }
    
    .sign-in {
        display: inline-block;
        padding: 0 15px;
        
        position: relative;
        z-index: 10;
        
        .sign-in-btn {
            font-size: 15px;
            font-weight: 200;
            color: #252525;
        
            &:hover {
                color:#252525;
                text-decoration: none;
            }
        }
        
        .my-account-btn {
            color:rgba(0, 0, 0, 0.65);
        }
    }
    
    &.my-account {
        margin:0 0 0 20px;
        
        #sign-in-popover {
            padding:0;
            width:200px;
            
            p {
                color:#fff;
                text-align:center;
                font-size:12px;
                margin-top:5px;
            }
            
            &:after {
                right: 40px;
            }
            
            #my-account-menu { 
                list-style: none;
                padding: 0;
                text-align: center;
                margin-bottom:0;
                
                li {
                    a {
                        color:#fff;
//                                     font-family: 'tradegothic',sans-serif;
                        font-size:16px;
                        display: block;
                        padding:12px 0 10px 0;
//                                     text-transform: uppercase;
                        
                        &:hover {
                            background-color:$deepGreen;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        
        .sign-in {
            padding:15px 0;
        }
    }
}