.mobile-account-manager {
    display:none;
    
    @media screen and (max-width:$mobileBP) {
        position: fixed;
        top:calc(100% - 50px);
        left:0;
        z-index: 9999998;
        display: block;
        
        width:100%;
        height:calc(100% - 100px);
        
        padding:12px 20px;
        
        background-color:rgba(219, 219, 219, 0.96);
        color:$darkGray;
        
        @include transition(0.3s);
        
        backdrop-filter: blur(10px);
        
        -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
        
        .no-items {
            display: none;
        }
        
        .close-mobile-account-manager {
            display: none;
            float:right;
            cursor: pointer;
        }
        
        .top {
            height:50px;
            
            .cart-btn {
                font-size: 20px;
                position: relative;
                width:30px;
                float:right;
                margin-top:3px;
                cursor: pointer;
                
                .badge {
                    background-color: $darkGray;
                    border: 1px solid rgba(219, 219, 219, 1);
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    border-radius: 50%;
                    position: absolute;
                    top: -7px;
                    right: -5px;
                    width: 15px;
                    height: 15px;
                    padding: 0;
                    font-size: 8px;
                    padding-top: 2px;
                    display: none;
                }
            }
            
            .user-info {
                float:left;
                font-size: 14px;
                
                a:hover {
                    text-decoration: none;
                    color:#000;
                }
            }
        }
        
        &.open {
            top:100px;
            
            @include border-radius(10px 10px 0 0);
            
            .close-mobile-account-manager {
                display: block;
            }
            
            .cart-btn {
                display: none;
            }
        }
        
        .mobile-cart-items {
            .items {
                height: calc(100vh - 230px);
                
                overflow: auto;
            }
            
            .cart-item {
                margin-top:10px;
                padding-top:10px;
                border-top:1px solid $lightGray;
                
                &:first-child {
                    margin-top:0;
                    padding-top:0;
                    border-top:none;
                }
                
                .photo {
                    width:100px;
                    height:130px;
                    overflow: hidden;
                    
                    float:left;
                    margin-right:15px;
                    
                    img {
                        height:100%;
                        max-width: none;
                    }
                }
                
                .item-details    {
                    width:calc(100% - 115px);
                    float:right;
                }
                
                .item-name h3 {
                    font-size:12px;
                    line-height: normal;
                    margin:0;
                }
                
                .item-price {
                    margin:5px 0;
                    font-size:12px;
                }
            }
            
            .totals-area {
                width:100%;
                height:60px;
                
                .buttons {
                    font-size:0;
                    
                    .btn {
                        width:50%;
                    }
                }
            }
        }
    }
}